@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans JP", sans-serif;
}

#app {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif !important;
  font-size: 1.6rem;
}

input,
button,
textarea,
select,
span {
  font-family: "Noto Sans JP", sans-serif !important;
}
