@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans JP", sans-serif;
}

#app {
  min-height: 100vh;
}

body,
input,
button,
textarea,
select,
span {
  font-family: "Noto Sans JP", sans-serif !important;
}
